<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page tribute</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <h1>Boku no Hero Academia tribute</h1>
    <p>
My Hero Academia (僕のヒーローアカデミア Boku no Hīrō Akademia?) es una serie de manga escrita e ilustrada por Kōhei Horikoshi. Se basa en un one-shot realizado por el mismo autor y publicado en el quinto volumen del manga Ōmagadoki Dōbutsuen bajo el nombre de My Hero.1​2​ El 11 de enero de 2015, fue lanzado un VOMIC basado en el manga.3​

El 2 de noviembre de 2015, comenzó a publicarse un manga spin-off llamado My Hero Academia Smash!! 
y escrito por Hirofumi Neda.4​ Una adaptación del manga original al anime comenzó a transmitirse el 3 de abril de 2016.5​ Unas historias extra han sido adaptadas por Anri Takahashi en formato de novela ligera.6​ Además, fueron desarrollados dos videojuegos por las empresas Bandai Namco Games y Takara Tomy.7​

Shūeisha anunció el lanzamiento el 20 de agosto de 2016 en la revista Shūkan Shōnen Jump de un spin-off 
de la obra original llamada My Hero Academia:Vigilantes-. El autor fue Hideyuki Furuhashi, mientras que Betten Court estuvo a cargo de los dibujos. La historia trata sobre héroes ilegales que son llamados "Vigilantes".8​ A partir de la edición del 17 de diciembre del mismo año las publicaciones pasaron a la aplicación Shōnen Jump
    </p>
    <a href="https://myheroacademia.fandom.com/es/wiki/My_Hero_Academia_Wiki">¿Quieres saber más de Boku no Hero Academia?</a>

</body>
</html>